.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background: gainsboro; */
    /* background-color: black; */
    /* color: white; */
    overflow-x: hidden;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.1rem;
}